<div class="container">
    <div class="row vh-100 align-items-center">
        <div class="col-xxl-4 offset-xxl-4 col-lg-6 offset-lg-3 col-10 offset-1">
            <div class="rounded-4 border-0 shadow-lg bg-white" style="min-height: 450px;">
                <div class="d-flex justify-content-start align-items-center">
          
                </div>
                <div class="p-5 w-100">
                    <div class="mb-4">
                        <h2 class="text-success">Create Account</h2>
                        <div>Already have an account?
                            <a routerLink="/login" class="text-decoration-none fw-medium text-success d-inline-block">Sign In</a>
                        </div>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                          <label for="firstName">First Name</label>
                          <input id="firstName" type="text" formControlName="firstName" class="form-control" />
                          <div *ngIf="hasDisplayableError('firstName')" class="text-danger">
                            First name is required and must be between 1 and 50 characters.
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label for="lastName">Last Name</label>
                          <input id="lastName" type="text" formControlName="lastName" class="form-control" />
                          <div *ngIf="hasDisplayableError('lastName')" class="text-danger">
                            Last name is required and must be between 1 and 50 characters.
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label for="phoneNumber">Phone Number</label>
                          <input id="phoneNumber" type="text" formControlName="phoneNumber" class="form-control" />
                          <div *ngIf="hasDisplayableError('phoneNumber')" class="text-danger">
                            Phone number is required and must be between 10 and 15 digits.
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input id="email" type="email" formControlName="email" class="form-control" />
                          <div *ngIf="hasDisplayableError('email')" class="text-danger">
                            A valid email is required.
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label for="dateOfBirth">Date of Birth</label>
                          <input id="dateOfBirth" type="date" formControlName="dateOfBirth" class="form-control" />
                          <div *ngIf="hasDisplayableError('dateOfBirth')" class="text-danger">
                            Date of birth is required.
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label for="gender">Gender</label>
                          <select id="gender" formControlName="gender" class="form-control">
                            <option *ngFor="let option of genderOptions" [value]="option.value">{{ option.label }}</option>
                          </select>
                          <div *ngIf="hasDisplayableError('gender')" class="text-danger">
                            Gender is required.
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input id="password" type="password" formControlName="password" class="form-control" />
                          <div *ngIf="hasDisplayableError('password')" class="text-danger">
                            Password must meet the required pattern.
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label for="confirmPassword">Confirm Password</label>
                          <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" />
                          <div *ngIf="hasDisplayableError('confirmPassword')" class="text-danger">
                            Passwords must match.
                          </div>
                        </div>
                      
                        <button type="submit" class="btn btn-primary" [disabled]="isSubmitted">Register</button>
                      </form>
                      
                        </div>
    
                </div>
            </div>
        </div>
    </div>
