<div class="mb-4">
    <h2 class="text-success"> 
        Sign In
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
       
        <div class="mb-3">
            <input type="email" class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
            <div class="error-feedback text-danger" *ngIf="hasDisplayableError('email') && form.get('email')?.hasError('required')">
                Email is required.
            </div>
            <div class="error-feedback text-danger" *ngIf="hasDisplayableError('email') && form.get('email')?.hasError('email')">
                Please enter a valid email.
            </div>
        </div>

      
        <div class="mb-3">
            <input type="password" class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
            <div class="error-feedback text-danger" *ngIf="hasDisplayableError('password') && form.get('password')?.hasError('required')">
                Password is required.
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-success w-100 rounded-3">
                Sign In
            </button>
        </div>

        
        <div>
            Don't have an account?
            <a routerLink="/login" class="text-decoration-none fw-medium text-success d-inline-block">Register</a>
        </div>
    </form>
</div>
